@{
    ViewData["Title"] = "Adım 3";
}
@model IEnumerable<CalisanModel>

<h2 class="mb-4">@ViewData["Title"]</h2>
<body>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info">
            @TempData["Message"]
        </div>
    }

<form asp-action="Adim3" method="post">
        <div class="form-group">
            <label for="tarih" class="control-label">Tarih Seçiniz</label>
            <input type="datetime-local" class="form-control" id="tarih" name="tarih" required />
            <div class="invalid-feedback">Tarih alanı gereklidir.</div>
        </div>
<!-- Devam Butonu -->
    <div class="form-group text-center mt-3">
        <button type="submit" class="btn btn-success btn-lg w-100">Devam</button>
    </div>
</form>
</body>