@{
    ViewData["Title"] = "API KULLANIMI";
}
<h1>@ViewData["Title"]</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://fakeimg.pl/600x400" alt="First slide">
        </div>
        <div class="carousel-item">
            <img src="images/2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img src="images/3.jpg" alt="Third slide">
        </div>
    </div>
</div>

<h3>Hizmetler API: </h3>
<code>/api/hizmetler/{id}</code>
