@model WebOdev.Models.KullaniciEkleViewModel

@{
    ViewData["Title"] = "Çalışan Ekle";
}

<h2>@ViewData["Title"]</h2>

<form action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Isim" class="control-label">İsim</label>
        <input asp-for="Isim" class="form-control" />
        <span asp-validation-for="Isim" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Soyisim" class="control-label">Soyisim</label>
        <input asp-for="Soyisim" class="form-control" />
        <span asp-validation-for="Soyisim" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sifre" class="control-label">Sifre</label>
        <input asp-for="Sifre" type="password" class="form-control" />
        <span asp-validation-for="Sifre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DogumTarihi" class="control-label">Doğum Tarihi</label>
        <input asp-for="DogumTarihi" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
        <span asp-validation-for="DogumTarihi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefon" class="control-label">Telefon</label>
        <input asp-for="Telefon" type="tel" class="form-control" />
        <span asp-validation-for="Telefon" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cinsiyet" class="control-label">Cinsiyet</label>
        <select asp-for="Cinsiyet" class="form-control" asp-items="Html.GetEnumSelectList<CinsiyetEnum>()">
            <option value="">Select</option>
        </select>
        <span asp-validation-for="Cinsiyet" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<!-- Display Errors -->
<div asp-validation-summary="All" class="text-danger"></div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
